<!DOCTYPE html>
<html lang="en">
<head>
	<title>Three-Word GIF Poetry</title> 
</head>
<body>
	<div align="center" style="margin-top:100px">
	<% if (data) {  %>
            <h1><%= data[0] %>, <%= data[1] %>, &amp; <%= data[2] %></h1>
    <% }
	</div>
</body>
</html>