<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.sound.min.js"></script>
	<title>You Against Humanity</title> 
</head>
<body style="background-color: #000">
	<div align="center" style="margin-top:100px; color:white; font-family:Helvetica;">
	<% if (data) {  %>
		<div align="center" style="margin-top:100px">
        	<h1>In a world ravaged by <%= data[0] %>,</h1>
        	<h1>our only solace is <%= data[1] %></h1>
        	<a href="/form4.html">go back</a>
    	</div>
    <% } %>
	</div>
</body>
</html>