<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.sound.min.js"></script>

	<title>Livestream List</title> 
</head>
<body>
	<div align="center" style="margin-top:100px; font-family:Helvetica;">
    <h1>Your Livestream List</h1>
    <h3>LIVE</h3>
    <% for (var i = 0; i < data.length; i++) { %>
        <% if (data[i].status == 'LIVE') { %>
          <a href="/find?liveVideoID=<%= data[i].id %>"> video :
          <%= data[i].id%> </a><br />
        <% } %>
    <% } %>
    <h3>ARCHIVED</h3>
    <% for (var i = 0; i < data.length; i++) { %>
        <% if (data[i].status != 'LIVE') { %>
          <a href="/find?liveVideoID=<%= data[i].id %>"> video :
          <%= data[i].id%> </a><br />
        <% } %>
    <% } %>
	</div>
</body>
</html>