<html>
  <head>
    <title>Comments</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">

      setInterval(loadComments, 1000);

      function loadComments(){
        $(document).ready(function(){
          $.ajax({
            url: "/updatefind?liveVideoID=<%=data[0].liveVideoID%>",
            dataType: 'json',
            success: function(data) {
              console.log(data);
              for (var i=0; i<data.length; i++){
                console.log("index: "+i);
                $("body").html("<p><b>"+data[i].commentMessage+"</b><br/>"+data[i].culpritName+"</p>");
              }
            },
            error: function() {
              alert("error");
            }
          });        
        });
      }

  </script>
  </head>
  <body>

  </body>
</html>