<html>
  <head>
    <title>Some Template</title>
    <script type="text/javascript">
      var videoIDs = [];
      function setup() {
        var datafromserver = "<%=thedata%>";
        //alert(datafromserver);
        console.log("THIS IS CLIENT SIDE");
        console.log(datafromserver[0]);
        
        for (var i=0; i<datafromserver.length; i++){
          var newItem = datafromserver[i].liveVideoID;
          console.log("NEW ITEM: "+newItem);
          videoIDs.indexOf(newItem) === -1 ? videoIDs.push(newItem) : console.log("This item already exists");
        }
      }
      window.addEventListener('load', setup);

    </script>

  </head>
  <body>
    <script type="text/javascript">

      // for (var i =0; i>videoIDs.length; i++){
      //   var a = document.createElement('a');
      //   var linkText = document.createTextNode(videoIDs[i]);
      //   a.appendChild(linkText);
      //   a.title = "my title text";
      //   a.href = "/findall?liveVideoID="+videoIDs[i];
      //   document.body.appendChild(a);
      // }

    </script>

  </body>
</html>