<html>
  <head>
    <title>Select Video</title>
  </head>
  <body>
    <h1> Select A Live Video </h1>
    <% for (var i = 0; i < thedata.length; i++) { %>
      <a href="/find?liveVideoID=<%= thedata[i] %>"> video :
    <%= thedata[i]%> </a><br />
    <!--JSON.stringify(thedata[i]) -->
    <% } %>

  </body>
</html>