<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.sound.min.js"></script>

	<title>TRYING GRAPH API</title> 
</head>
<body style="background-color: #000">
    <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '294044474454157',
              xfbml      : true,
              version    : 'v2.12'
            });
            FB.AppEvents.logPageView();
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "https://connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
    </script>
	<div align="center" style="margin-top:100px; color:white; font-family:Helvetica;">
		<div align="center" style="margin-top:100px">
        	<h1>HELLO</h1>
    	</div>
        <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
        </div>
	</div>
</body>
</html>